<%= render 'shared/page_title', title: "Date: #{@detail.date.strftime("%d/%m/%Y") if !@detail.date.nil?}" %>

<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description">
    <strong> Shop Name: <%= @detail.shop_name %> </strong>
  </h4>
  <hr />

  <div class="pull-left"> 
    <p class="center">
      <em>Customer Name:</em>
      <%= @detail.cust_name %>
    </p>

    <p class="center">
      <em>Phone:</em>
      <%= @detail.phone %>
    </p>

    <p class="center">
      <em>Address:</em>
      <%= @detail.address %>
    </p>

    <p class="center">
      <em>Status:</em>
      <%= @detail.status %>
    </p>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= link_to 'Edit', edit_detail_path(@detail), class: "btn btn-primary btn-lg btn-xlarge" %> |
          <%= link_to 'Back', details_path, class: "btn btn-primary btn-lg btn-xlarge" %>
        </div>
    </div>
  </div>
</div>